// Code generated by Speakeasy (https://speakeasyapi.com). DO NOT EDIT.


import Foundation

class _FirstAPI: FirstAPI {
    private let client: Client

    init(client: Client) {
        self.client = client
    }
    
    public func groupFirstGet() async throws -> Response<Operations.GroupFirstGetResponse> {
        return try await client.makeRequest(
            configureRequest: { configuration in
                try configureGroupFirstGetRequest(with: configuration)
            },
            handleResponse: handleGroupFirstGetResponse
        )
    }

}

// MARK: - Request Configuration

private func configureGroupFirstGetRequest(with configuration: URLRequestConfiguration) throws {
    configuration.path = "/group/first"
    configuration.method = .get
    configuration.telemetryHeader = .speakeasyUserAgent
}

// MARK: - Response Handlers

private func handleGroupFirstGetResponse(response: Client.APIResponse) throws -> Operations.GroupFirstGetResponse {
    let httpResponse = response.httpResponse
    
    if httpResponse.statusCode == 200 { 
        return .empty
    }

    return .empty
}

