// Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.


import Foundation

class _NestFirstAPI: NestFirstAPI {
    private let client: Client

    init(client: Client) {
        self.client = client
    }
    
    public func nestFirstGet() async throws -> Response<Operations.NestFirstGetResponse> {
        return try await client.makeRequest(
            configureRequest: { configuration in
                try configureNestFirstGetRequest(with: configuration)
            },
            handleResponse: handleNestFirstGetResponse
        )
    }

}

// MARK: - Request Configuration

private func configureNestFirstGetRequest(with configuration: URLRequestConfiguration) throws {
    configuration.path = "/anything/nest/first"
    configuration.method = .get
    configuration.telemetryHeader = .speakeasyUserAgent
}

// MARK: - Response Handlers

private func handleNestFirstGetResponse(response: Client.APIResponse) throws -> Operations.NestFirstGetResponse {
    let httpResponse = response.httpResponse
    
    if httpResponse.statusCode == 200 { 
        return .empty
    }

    return .empty
}

