// Code generated by Speakeasy (https://speakeasyapi.com). DO NOT EDIT.


import Foundation

class _NestedFirstAPI: NestedFirstAPI {
    private let client: Client

    init(client: Client) {
        self.client = client
    }
    
    public func nestedFirstGet() async throws -> Response<Operations.NestedFirstGetResponse> {
        return try await client.makeRequest(
            configureRequest: { configuration in
                try configureNestedFirstGetRequest(with: configuration)
            },
            handleResponse: handleNestedFirstGetResponse
        )
    }

}

// MARK: - Request Configuration

private func configureNestedFirstGetRequest(with configuration: URLRequestConfiguration) throws {
    configuration.path = "/anything/nested/first"
    configuration.method = .get
    configuration.telemetryHeader = .speakeasyUserAgent
}

// MARK: - Response Handlers

private func handleNestedFirstGetResponse(response: Client.APIResponse) throws -> Operations.NestedFirstGetResponse {
    let httpResponse = response.httpResponse
    
    if httpResponse.statusCode == 200 { 
        return .empty
    }

    return .empty
}

