// Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.


import Foundation

class _NestedAPI: NestedAPI {
    private let client: Client

    init(client: Client) {
        self.client = client
    }
    
    public func nestedGet() async throws -> Response<Operations.NestedGetResponse> {
        return try await client.makeRequest(
            configureRequest: { configuration in
                try configureNestedGetRequest(with: configuration)
            },
            handleResponse: handleNestedGetResponse
        )
    }

}

// MARK: - Request Configuration

private func configureNestedGetRequest(with configuration: URLRequestConfiguration) throws {
    configuration.path = "/anything/nested"
    configuration.method = .get
    configuration.telemetryHeader = .speakeasyUserAgent
}

// MARK: - Response Handlers

private func handleNestedGetResponse(response: Client.APIResponse) throws -> Operations.NestedGetResponse {
    let httpResponse = response.httpResponse
    
    if httpResponse.statusCode == 200 { 
        return .empty
    }

    return .empty
}

