// Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.


import Foundation

class _NestedSecondAPI: NestedSecondAPI {
    private let client: Client

    init(client: Client) {
        self.client = client
    }
    
    public func nestedSecondGet() async throws -> Response<Operations.NestedSecondGetResponse> {
        return try await client.makeRequest(
            configureRequest: { configuration in
                try configureNestedSecondGetRequest(with: configuration)
            },
            handleResponse: handleNestedSecondGetResponse
        )
    }

}

// MARK: - Request Configuration

private func configureNestedSecondGetRequest(with configuration: URLRequestConfiguration) throws {
    configuration.path = "/anything/nested/second"
    configuration.method = .get
    configuration.telemetryHeader = .speakeasyUserAgent
}

// MARK: - Response Handlers

private func handleNestedSecondGetResponse(response: Client.APIResponse) throws -> Operations.NestedSecondGetResponse {
    let httpResponse = response.httpResponse
    
    if httpResponse.statusCode == 200 { 
        return .empty
    }

    return .empty
}

