// Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.


import Foundation

class _OpenEnumsAPI: OpenEnumsAPI {
    private let client: Client

    init(client: Client) {
        self.client = client
    }
    
    public func openEnumsPostUnrecognized(request: Shared.ThemeRequestOpaque) async throws -> Response<Operations.OpenEnumsPostUnrecognizedResponse> {
        return try await client.makeRequest(
            configureRequest: { configuration in
                try configureOpenEnumsPostUnrecognizedRequest(with: configuration, request: request)
            },
            handleResponse: handleOpenEnumsPostUnrecognizedResponse
        )
    }

}

// MARK: - Request Configuration

private func configureOpenEnumsPostUnrecognizedRequest(with configuration: URLRequestConfiguration, request: Shared.ThemeRequestOpaque) throws {
    configuration.path = "/anything/openEnums/unrecognized"
    configuration.method = .post
    configuration.contentType = "application/json"
    configuration.body = try jsonEncoder().encode(request)
    if configuration.body == nil {
        throw SerializationError.missingRequiredRequestBody
    }
    configuration.telemetryHeader = .speakeasyUserAgent
}

// MARK: - Response Handlers

private func handleOpenEnumsPostUnrecognizedResponse(response: Client.APIResponse) throws -> Operations.OpenEnumsPostUnrecognizedResponse {
    let httpResponse = response.httpResponse
    
    if httpResponse.statusCode == 200 { 
        if httpResponse.contentType.matchContentType(pattern: "application/json"), let data = response.data {
            do {
                return .themeResponse(try JSONDecoder().decode(Shared.ThemeResponse.self, from: data))
            } catch {
                throw ResponseHandlerError.failedToDecodeJSON(error)
            }
        }
    }

    return .empty
}

