// Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.


import Foundation

class _SecondAPI: SecondAPI {
    private let client: Client

    init(client: Client) {
        self.client = client
    }
    
    public func groupSecondGet() async throws -> Response<Operations.GroupSecondGetResponse> {
        return try await client.makeRequest(
            configureRequest: { configuration in
                try configureGroupSecondGetRequest(with: configuration)
            },
            handleResponse: handleGroupSecondGetResponse
        )
    }

}

// MARK: - Request Configuration

private func configureGroupSecondGetRequest(with configuration: URLRequestConfiguration) throws {
    configuration.path = "/group/second"
    configuration.method = .get
    configuration.telemetryHeader = .speakeasyUserAgent
}

// MARK: - Response Handlers

private func handleGroupSecondGetResponse(response: Client.APIResponse) throws -> Operations.GroupSecondGetResponse {
    let httpResponse = response.httpResponse
    
    if httpResponse.statusCode == 200 { 
        return .empty
    }

    return .empty
}

